<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>My Business</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'customers' %}">Customers</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
